.worker-cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.worker-cards-container .worker-card {
  width: 100%;
  max-width: 600px;
  /*min-width: 430px;*/
  height: 250px;
  background: #fff;
  border-radius: 30px;
  border-bottom-left-radius: 45px;
  margin: 20px;
  position: relative;
}

.worker-card .profile-pic {
  border-radius: 50%;
  width: 110px;
  height: auto;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
}

.worker-card .status {
  position: absolute;
  left: -5px;
  width: 90px;
  height: 100%;
  border-radius: 38px;
  padding: 100px 0 20px;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.worker-card .status.missing {
  background: #bc1718;
}

.worker-card .status .status-icon {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

.worker-card .status.missing .status-icon {
  background: url('./images/ic_warning_white_24px.svg') center center / cover
  no-repeat;
}

.worker-card .status.checked-in .status-icon {
  background: url('./images/ic_work_white_24px.svg') center center / cover
  no-repeat;
}

.worker-card .status.working .status-icon {
  background: url('./images/ic_done_white_24px.svg') center center / cover
  no-repeat;
}

.worker-card .status .status-label {
  max-width: 60px;
}

.worker-card .status.checked-in {
  background: #95bd18;
}

.worker-card .status.working {
  background: #3a9cbf;
}

.worker-card .worker-info {
  padding: 30px 30px 30px 110px;
  height: 100%;
}

.worker-info .favourite-button {
  background: url('./images/ic_favorite_border_black_24px.svg') center center / cover no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}

.worker-info .favourite-button.favourited {
  background: url('./images/ic_favorite_black_24px.svg') center center / cover no-repeat;
}

.worker-info input[type="checkbox"] {
  visibility: hidden;
}

.worker-info .name-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.worker-info .favourite-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.worker-info .name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.worker-info .stars-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.stars-container .star {
  width: 30px;
  height: 30px;
  background: url('./images/ic_star_border_black_18px.svg') center center / 100% no-repeat;
}

.stars-container .star.active {
  background: url('./images/ic_star_black_18px.svg') center center / 100% no-repeat;
}

.worker-card .shift-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 20px 0 0;
}

.shift-info .shift {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.shift-info .shift.next.red {
  color: #bc1718;
}

.worker-card input {
  border: none;
  font-size: 16px;
}

.worker-card .contact-locate-remove {
  width: 100%;
  height: 60px;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.worker-card .action {
  display: flex;
  align-items: center;
}

.worker-card .locate .label,
.worker-card .contact .label {
  color: #3a9cbf;
}

.worker-card .remove-label {
  color: #bc1718;
}

.worker-card .logo {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 5px;
}

.worker-card .contact .logo {
  background: url('./images/ic_phone_black_18px.svg') center center / cover no-repeat;
}

.worker-card .locate .logo {
  background: url('./images/ic_navigation_black_18px.svg') center center / cover no-repeat;
}

.worker-card .remove .logo {
  background: url('./images/ic_close_black_18px.svg') center center / cover no-repeat;
}

@media screen and (max-width: 768px) {
  .worker-cards-container .worker-card {
    height: 200px;
  }

  .worker-card .profile-pic {
    width: 90px;
    height: 90px;
    left: -5px;
    top: -5px;
  }

  .worker-card .status {
    padding-top: 90px;
  }

  .worker-card .status .status-icon {
    width: 30px;
    height: 30px; 
  }

  .worker-info .name {
    width: 80%;
    margin: 0;
  }

  .worker-info .favourite-button {
    position: absolute;
    right: 30px;
    top: 100px;
  }

  .worker-info .stars-container {
    width: 90px;
  }

  .shift-info .shift.last {
    display: none;
  }
  
  .worker-card .remove-label.checked-in {
    display: none;
  }

  .worker-card .contact-locate-remove {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .worker-cards-container .worker-card {
    margin: 10px 0;
  }

  .worker-card .profile-pic {
    width: 70px;
    height: 70px;
  }

  .worker-card .status {
    width: 70px;
    padding-top: 50px;
  }

  .worker-card .worker-info {
    padding: 10px 10px 0 75px;
  }

  .worker-info .favourite-button {
    top: 37px;
    right: 10px;
  }

  .worker-card .remove-label,
  .worker-card .action .label {
    display: none;
  }

  .worker-info .name-ratings {
    flex-direction: column;
    align-items: flex-start;
  }

  .worker-card .logo {
    width: 30px;
    height: 30px;
  }
}